<h1>Welcome <%=@user.full_name %>!</h1><br><br>

<h3><u>About Me</u></h3>

<h5><%= @user.bio%></h5>

<br><br>
<% if current_user == @user %>
<h3><u><%=@user.first_name%>'s Gardens</u></h3>
<ul>
<% @user.gardens.each do |garden| %>
    <li><%= link_to garden.name, garden_path(garden) %></li>
<% end %>
</ul>
<br><br>
<br>
<%= button_to "Edit", edit_user_path(@user), method: :get %><br>
<%= button_to "Delete", user_path(@user), method: :delete %>
<% end %>
