<img src="<%=@plant.picture%>" height="250" width="250" />

<h1>Common Name:</h1>
<h1><%=@plant.common_name %></h1><br>

<h3>Scientific Name:</h3>
<h3><%=@plant.scientific_name %></h3><br>

<h3> Bloom Period:</h3>
<h3><%=@plant.bloom %></h3><br>

<h3> Minimum Temperature for Growth:</h3>
<h3><%=@plant.temperature %>°F</h3><br>

<h3> Watering Schedule:</h3>
<h3><%=@plant.water %> inches per year</h3><br>






