<img src="<%=@plant.picture%>" height="250" width="250" />

<h1>Common Name:</h1>
<h1><%=@plant.common_name %></h1><br>

<h3>Scientific Name:</h3>
<h3><%=@plant.scientific_name %></h3><br>

<h3> Bloom Period:</h3>
<h3><%=@plant.bloom %></h3><br>

<h3> Minimum Temperature for Growth:</h3>
<h3><%=@plant.temperature %>°F</h3><br>

<h3> Watering Schedule:</h3>
<h3><%=@plant.water %> inches per year</h3><br>

<br>
<% if logged_in? %>
    <%= form_for @garden_plant do |g| %>
        <h2>Like this plant? Add it to your Garden!</h2>
        Choose which of your <%= g.label :gardens_to_add %> to:<br>
        <%= g.collection_select :garden_id, current_user.gardens, :id, :name %>
        <%= g.hidden_field :plant_id, { :value => @plant.id } %>
        <br><br>
        <%= g.submit "Add to Garden" %>
    <% end %>
<% end %>
<br>
<br>





