
<div style="background-image: url('/backyard.png'); height:175vh; width:100vw; background-repeat: no-repeat; background-size: 100% 100%">
<br>
<h1>Welcome to <%= @garden.name %>!</h1>



<h2>Created by: <%= link_to @garden.user.full_name, user_path(@garden.user) %></h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<% if @params == "true" %>
<img src= "/watering-can.gif">
<% end %><br>



<% @garden.plants.each do |plant| %>
    <a href="/plants/<%=plant.id %>"><img src="<%= plant.picture %>" height="150" width="150" %></a>
<% end %>
<br><br>

<% if @params == nil%>
<%= button_to "Water Plants", garden_path(@garden), method: :get, params: {water: true} %>
<% elsif @params == "false"%>
<%= button_to "Water Plants", garden_path(@garden), method: :get, params: {water: true} %>
<% else @params == "true" %>
<%= button_to "Finish Watering", garden_path(@garden), method: :get, params: {water: false} %>
<%end%>


<% if authorized %>
<%= button_to "Add a Plant", plants_path, method: :get %>
<%= button_to "Edit", edit_garden_path(@garden), method: :get %>
<% end %>
</div>


